._*

__pycache__/
**/__pycache__/
*.py[cod]

benchmark/results/

jobs/
jobs_v1/
jobs_v2/

universal_gemm/

launch_experiments_mlp1.py
launch_experiments_mlp2.py
reduce_test.py
test.sh
plot_mlp1.py
plot_mlp2.py
benchmark/dtensor_benchmark.py

*.pdf
*.dat
